body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.nav {
  margin-bottom: 0;
  background-color: #FFF;
  color: #116f6f;
  text-align: center;
  font-size: 30px;
  padding: 10px;
  font-weight: 300;
  border-bottom: 2px solid #22DDDE;
}

.order-option {
  text-align: center;
}

.login {
  font-size: 3em;
  font-weight: 300;
  padding: 100px;
}

.content {
  padding: 0px;
}

.loading {
  margin-top: 15px;
  margin-bottom: 15px;
}

.main {
  padding-bottom: 66px;
}

.add-button {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  background-color: #fff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 55px;
  color: #47473D;
  font-size: 30px;
  border-top: 2px solid #7AF5F5;
}

.add-button .icon {
  margin-top: -5px;
}

.poll {
  padding: 20px 20px;
  border-bottom: 3px #75715F solid;
}

.poll .question {
  padding-top: 3px;
  font-size: 1.6em;
}

.poll .votes {
  font-size: 3em;
  font-weight: 300;
  color: #337ab7;
}

.answer-options {
  margin-top: 5px;
}

.answer-options ul {
  display: inline;
  list-style: none; 
  margin-bottom: 0;
  padding-left: 0px;
  height: 100%;
}

.option-result {
  display: inline-block;
  height: 20px;
  margin-right: 10px;
  border: 1px #242621 solid;
  height: 100%;
}

.option-result a {
  height: 100%;
}

.voted {
  background-color: #DEDEDE;
}